<div>
  <div>
    Get a License key from <a href="https://www.dynamsoft.com/customer/license/trialLicense" target="_blank">here</a>
  </div>
  <input type="text" [(ngModel)]="inputText" [placeholder]="placeholderText">
  <button (click)="activate()">Activate SDK</button>
</div>

<div *ngIf="showDiv">
  <h2>Examples</h2>
  <div *ngFor="let product of products">
    <h3>
      <div *ngIf="product.id === 'reader'; else elseBlock">
        <a [title]="product.name + ' details'" [routerLink]="['/barcode-reader']">>
          {{ product.name }}
        </a>
      </div>
      <ng-template #elseBlock><a [title]="product.name + ' details'" [routerLink]="['/barcode-scanner']">>
          {{ product.name }}
        </a></ng-template>
    </h3>

    <p *ngIf="product.description">Description: {{ product.description }}</p>
  </div>
</div>