<div>
  <div>
    Get a License key from <a href="https://www.dynamsoft.com/customer/license/trialLicense" target="_blank">here</a>
  </div>
  <input type="text" [(ngModel)]="inputText" [placeholder]="placeholderText">
  <button (click)="activate()">Activate SDK</button>
</div>

<div *ngIf="showDiv">
  <h2>Examples</h2>
  <div *ngFor="let product of products">
    <h3>
      <div>
        <ng-template [ngIf]="product.id === 'reader'">
          <a [title]="product.name + ' details'" [routerLink]="['/barcode-reader']">>
            {{ product.name }}
          </a>
        </ng-template>
      </div>

      <div>
        <ng-template [ngIf]="product.id === 'scanner'">
          <a [title]="product.name + ' details'" [routerLink]="['/barcode-scanner']">>
            {{ product.name }}
          </a>
        </ng-template>
      </div>

      <div>
        <ng-template [ngIf]="product.id === 'file-detection'">
          <a [title]="product.name + ' details'" [routerLink]="['/file-detection']">>
            {{ product.name }}
          </a>
        </ng-template>
      </div>

      <div>
        <ng-template [ngIf]="product.id === 'camera-detection'">
          <a [title]="product.name + ' details'" [routerLink]="['/camera-detection']">>
            {{ product.name }}
          </a>
        </ng-template>
      </div>

      <div>
        <ng-template [ngIf]="product.id === 'mrz-reader'">
          <a [title]="product.name + ' details'" [routerLink]="['/mrz-reader']">>
            {{ product.name }}
          </a>
        </ng-template>
      </div>

      <div>
        <ng-template [ngIf]="product.id === 'mrz-scanner'">
          <a [title]="product.name + ' details'" [routerLink]="['/mrz-scanner']">>
            {{ product.name }}
          </a>
        </ng-template>
      </div>

      <div>
        <ng-template [ngIf]="product.id === 'document-viewer'">
          <a [title]="product.name + ' details'" [routerLink]="['/document-viewer']">>
            {{ product.name }}
          </a>
        </ng-template>
      </div>

    </h3>

    <p *ngIf="product.description">Description: {{ product.description }}</p>
  </div>
</div>